/* box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5); */


*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
ul{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Noto Sans JP', sans-serif;
    background-image: url("../images/bg.png");
    background-size: contain;
}
a{
    text-decoration: none;
}
.header{
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color:#91dd49;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20% 0 20%;
    position: fixed;
    top: 0;
    z-index: 4;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
    color: #2c3e50;
}
.header a{
    color: black;
    font-weight: bold;
    font-size:20px;
}
.logo{
    height: 50px;
    width: 100%;
}
.logo img{
    height:40px;
    float: left;
    padding-right: 7px;
}
.logo a{
    font-size: 20px;
    color: black;
    font-weight: bold;
}

.sticky img{
    height:50px;
    transition: all 0.5s;
}
.sticky a{
    font-size: 18px;
    color: #2c3e50;
    transition: all 0.5s;
}
.container{
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
    max-width: 800px;
    padding: 0;
    margin: 0 auto;
    overflow: hidden;
}
.menu{
    display: flex;
    justify-content: space-between;
    height: 50px;
    line-height: 50px;
    padding-top: 50px;
}
.menu li{
    font-size: 20px;
    padding-left: 0;
    font-size: 16px;
    width: 20%;
    box-sizing: border-box;
    z-index: 3;
}
.menu li a{
    color: black;
    text-align: center;
    border-right: solid 1px #ccc;
}
.menu-sub{
    position: absolute;
    z-index: 10;
    line-height:35px;
    display: none;
}
.menu-sub li{
    width: 250px;
}
.menu-sub li a{
    text-align: left !important;
    padding-left: 20px;
    border-right: none;
}
li:hover .menu-sub{
    display: block;
    background-color: #91dd49
}
li:hover{
    background-color: #91dd49;
}
a{
    display: block;
}
li a:hover{
    transition: ease-in 0.2s;
    background-color: #94a089;
}

.nav{
    height: 50px;
    width: 100%;
    background-color: #91dd49;
    line-height:50px;
    z-index: 4;
    display: none;
    position: relative;
    float: left;
}
.logo-res img{
    height: 40px;
    padding-left: 50px;
}
.menu-res{
    display:flex;
    flex-direction: column;
    position: absolute;
    top:50px;
    right: 0px;
    z-index: 6;
    width: 300px;
    background-color: #91dd49;
    transform: translateX(150%);
    transition: 0.6s ease-out;
}
.icon-res{
    color: white;
    font-size: 30px;
    position: absolute;
    top: 0;
    right: 50px;
    text-align: right;
}
.nav-active{
    transform: translate(0%);
}
.menu-res li{
    border-bottom: solid #52565e 1px;
}
.menu-res li:last-child{
    border-bottom: none;
}
.menu-res li a{
    padding-left: 40px;
}

@media screen and (max-width: 768px) {
    .menu, .header{
        display: none;
    }
    .nav{
        display: block;
    }
}

.slider{
    padding-top: 50px;
}

/* Banner Begin ---------------------------------------------------------------------------------*/
.banner-1 img{
    width: 100%;
}



/* Admission information Begin -------------------------------------------------------------------*/
.banner-2{
    width: 90%;
    margin: 0 auto;
}
.banner-2 p{
    font-size: 18px;
}
.img-bn2{
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0 auto;
    position: relative;
}
.img-bn2 img{
    width: 100%;
    height: auto;
}
.img-bn2 p{
    font-size: 20px;
    font-weight: bold;
}
.img-bn2:hover{
    transform: scale(1.1);
    transition: all 0.3s ease-in;
}
.img-bn2-txt{
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 30px;
    background-color:#ccc;
    bottom: -16px;
    left:0;
    opacity: 0.7;
    text-align: center;

}
.line-banner-2{
    width: 100%;
    height: 3px;
    background-color:#91dd49;
}
.line-banner-2-1{
    width: 100%;
    height: 3px;
    background-color:#ccc;
}


/* IT college Begin -----------------------------------------*/
.banner3{
    background-color: #558ed5;
}
.box-left{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-left p{
    font-size:40px;
    color: #fff;
    text-align: center;
    margin: 0 auto;
}

.box-right{
    width: 95%;
    margin: 0 auto;
    padding: 10px;
}
.box-right a{
    font-size: 20px;
    color: #0c141d;
}

.it-college{
    background-color:#fff;
    padding: 5px;
}
.it-college i{
    color: #fff;
    font-size:30px;
    padding-right: 10px;
}
.it-college-1{
    background-color:#2ecc71;
    padding: 5px;
    display: flex;
    justify-content: left;
}
.it-college-2{
    background-color:#3498db;
    padding: 5px;
    display: flex;
    justify-content: left;
}
.it-college-3{
    background-color:#9b59b6;
    padding: 5px;
    display: flex;
    justify-content: left;
}
.it-college-4{
    background-color:#38ada9;
    padding: 5px;
    display: flex;
    justify-content: left;
}
.banner3 a:hover{
    font-weight: bold;
}
.banner3 i:hover{
    color: #e67e22;
}
/* IT college End */


/* Business college Begin */
.banner4{
    background-color: #e74c3c;
}

.business-college{
    background-color:#fff;
    padding: 10px;
}
.business-college i{
    color: #fff;
    font-size:30px;
    padding-right: 10px;
}
.business-college-1{
    background-color:#4a69bd;
    padding: 10px;
    display: flex;
    justify-content: left;
}
.business-college-2{
    background-color:#60a3bc;
    padding: 10px;
    display: flex;
    justify-content: left;
}
.business-college-3{
    background-color:#3c6382;
    padding: 10px;
    display: flex;
    justify-content: left;
}
.banner4 a:hover{
    font-weight: bold;
}
.banner4 i:hover{
    color: #f368e0;
}
/* Business college End --------------------------------------------------------------------*/


/* News Begin --------------------------------------------------------------------*/
.news-left{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8e9299;
    opacity: 0.8;
    padding-left: 10px;
}
.news-left a:hover{
    color: rgb(43, 30, 30);
    transition: all 0.5s;
}
.news-left a{
    font-size: 24px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    opacity: 1;
}
.news-right{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.news-right img{
    width: 100%;
    object-fit: cover;
}
/* News End ------------------------------------------------------------------------------*/


/* Topics & Link Begin -------------------------------------------------------------------*/
.topics-left{
    width: 95%;
    margin: 0 auto;
    background-color:#8e9299;
    opacity: 0.8;
}
.topics p{
    font-size:20px;
}
.topics{
    height: 500px;
    overflow-y: scroll;
    border: solid 1px black;
}
::-webkit-scrollbar{
    width: 10px;
    background: lightgray;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: gray;
    border-radius: 5px;
}
.topics-header{
    height: 50px;
    background-color: #3498db;
}
.topics-header p{
    font-size: 25px;
    line-height: 50px;
}
.topics-right{
    width: 95%;
    margin: 0 auto;
}
.topics-right img{
    width: 100%;
    object-fit: cover;
}
.link a:hover{
    transform: rotateX(20deg);
    transition: all 0.2s;
}

/* Topics & Link End ---------------------------------------------------------------------*/

/* Footer Begin --------------------------------------------------------------------------*/
.footer{
    background-color: #91dd49;
    padding: 5%;
}
.footer-left{
    width: 100%;
}
.txt-footer-left{
    font-size: 20px;
}
.menu-footer-main{
    list-style: none;
}
.menu-footer-sub{
    list-style: none;
    padding-left: 30px;
}

.footer a{
    text-decoration: none;
    color: black;
    display: block;
}
.footer a:hover{
    text-decoration: underline;
}
@media screen and (max-width:768px){
    .footer-left{
        display:none;
    }
} 











.btn-right{
    width: 60px;
    background-color: #91dd49;
    position: fixed;
    top: 30%;
    right: 0;
}
.btn-right div{
    margin: 0 auto;
    text-align: center;
}
.btn-right p{
    color: rgb(0, 0, 0);
    font-size: 16px
}

.btn-line{
    width: 50%;
    height: 1px;
    background-color: #0c141d;
}
.btn-right i{
    color: rgb(6, 78, 78);
    font-size: 30px;
    padding-top: 10px;
}
.btn-right i:hover{
    color: rgb(255, 255, 255);
    transition: all 0.5s;
}

.to-top{
    background: white;
    position: fixed;
    bottom:16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    color: #1f1f1f;
    transition: all 0.4s;
    opacity: 0;
}
.to-top-active{
    opacity: 1;
}

/* Footer End ----------------------------------------------------------------------------*/
.pdt-menu-50{
    width: 100;
    height: 50px;
}

.content{
    background-color:#fff;
    width: 100%;
}
/* Gakko Page------------------------------------------*/
.gakko{
    width: 85%;
    margin: 0 auto;
}
.gakko img{
    width: 100%;
    height: auto;
}
.gakko p{
    text-align: center;
}
/* Gakka Page------------------------------------------*/
.gakka{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 10px;
}
.gakka-it-college{
    width: 90%;
    margin-left: 10%;
}
#gakka-it-college-toggle-1, #gakka-it-college-toggle-2, #gakka-it-college-toggle-3, #gakka-it-college-toggle-4, #gakka-admission-toggle-1, #gakka-admission-toggle-2, #gakka-admission-toggle-3{
    display: none;
}





